
<div class= "contact-success" style="background: rgb(138, 2, 42); padding:10rem 20rem;">
  <h1>Thank you for becoming member of </h1>

<p>your details are</p>
      <ul>
          <li>Nom: <%= data.nom %></li>
          <li>Prenom: <%= data.prenom %></li>
          <li>Date de Naissance: <%= data.dateBirth %> </li>
          <li>Teléphone: <%= data.tel %> </li>
          <li>Adress: <%= data.adresse %> </li>
          <li>Vill: <%= data.ville %> </li>
          <li>Message: <%= data.message %> </li>
  
      </ul>
      
</div>
